In [1]:
import pandas as pd

In [2]:
pd.read_excel(r'C:\Users\Admin\Desktop\DATASET 1.xlsx')

   Sr. no.  roll no.    name
0         1       A1     ANA
1         2       A2     BOB
2         3       A3  CHELSI